@import '/styles/variables';

.header {
    color: #fff;
    background: #000;
    width: 100vw;
    height: 6rem;
    margin: 0 calc(50% - 50vw);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    h1 {
        flex: 1;
        margin: 0;
        line-height: 0;
        position: relative;
        img {
            height: 3rem;
        }
        small {
            font-size: 1.5rem;
            color: rgba(255, 255, 255, 0.3);
            position: absolute;
            bottom: 1rem;
            margin-left: .7rem;
        }
    }
    .menu_input{
        &+div {
            font-family: 'URW DIN';
            font-weight: bold;
            font-size: 3rem;
            text-align: right;
            z-index: 999999;
            opacity: 0;
            position: absolute;
            top: 9rem;
            right: 2rem;
            transition: .2s;
            li {
                margin-bottom: .3em;
                a {
                    &:hover {
                        color: #000;
                        &::after {
                            content: "◀︎";
                        }
                        small {
                            opacity: 0;
                        }
                    }
                }
            }
            small {
                font-size: .4em;
                margin-right: .5em;
            }
            &+label {
                font-family: 'URW DIN';
                font-weight: bold;
                z-index: 9999;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 7rem;
                font-size: 2rem;
                span {
                    box-sizing: content-box;
                    height: 1em;
                    line-height: 1.3;
                }
                &:after {
                    width: 500rem;
                    height: 500rem;
                    content: "";
                    background: #f13245;
                    position: absolute;
                    top: -500rem;
                    right: -500rem;
                    transform: translate(-9rem, 7rem) rotate(-15deg);
                    transform-origin: bottom left;
                    z-index: -1;
                    transition: .3s;  
                }
                &:before {
                    text-align: center;
                    content: "MENU";
                }
                &+label:before  {
                    transition: .3s;
                    content: "";
                    top: 0;
                    right: 0;
                    position: absolute;
                    width: 0;
                    height: 0;
                }
            }
        }
        &:hover{
            &+div+label::before {
                content: "OPEN";
            }
        }
        &:checked{
            &+div {
                opacity: 1;
            }
            &+div+label:after {
                transform: translate(-20rem, 40rem) rotate(-15deg);    
            }
            &+div+label::before {
                content: "CLOSE";
            }
            &+div+label+label:before {
                width: 100vw;
                height: 100vh;
                background: rgba(250,250,250,.8);
                // backdrop-filter: blur(3px);
                z-index: 99;
            }
        }
    }
}
.main {
    margin-top: 6rem;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    padding: 0 3rem;
}

.h2 {
    font-family: 'URW DIN';
    margin-top: 3.5rem;
    margin-bottom:0rem;
    small {
        opacity: 0;
    }
}
.h2_description {
    font-family: Helvetica, -apple-system, Verdana, Meiryo;
    color:#000;
    font-size: .8rem;
    margin-bottom: 1rem;
    margin-top: -.3rem;
}

.list {
    background: rgba(0,0,0,.03);
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    padding: 1rem calc(50vw - 50%);
}
.list_post {
    // width: 300px;
    margin-right: 2rem;
    &:hover {
        .list_title {
            span {
                background: #f13245;
                box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
            }
        }
        .list_img {
            transform: translateX(7%);
            opacity: .5;
        }
        .list_description {
            color:#000;
        }
    }
}
.list_tmb {
    position: relative;
}
.list_title {
    font-size: 1.5rem;
    letter-spacing: .1em;
    max-width: 3*6*0.9rem;
    @include mq(sp) {
        max-width: 3*6rem;
    }
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow-wrap: break-word;
    word-break: keep-all;
    span {
        color: #fff;
        display: inline;
        padding: .1em .3em;
        background: #000;
        box-decoration-break: clone;
        line-height: 1.7;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0);
        transition: .1s;
    }
}
.list_description {
    max-height: 3.8em;
    width: 18rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align: justify;

    font-size: .7rem;
    @include mq(sp) {
        font-size: .9rem;
    }
    line-height: 1.3em;
    margin-top: .5rem;
    transform: translateX(5%);
    transition: color .1s;
}


.list_img {
    width: 3*6rem;
    height: 1.6*6rem;
    transition: .3s;
    transform: translateX(5%);
    * {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.contact_form {
    max-width: 700px;
    margin: 1rem auto 0 auto;
    input,textarea {
        margin-top: 1em;
        padding: .5em 1em;
        border-bottom: 3px solid #000;
    }
    .name,.email {
        width: calc(50% - .5em);
        display: inline-block;
    }
    .name {
        margin-right: 1em;
    }
    .message {
        width: 100%;
        height: calc(2em + 5px);
        transition: .2s;
        &:focus {
            height: 6.9em;
        }
    }
    .button {
        font-family: 'URW DIN';
        font-weight: bold;
        color: #fff;
        padding: .7rem 1rem 1.5rem 1.9rem;
        margin: 0 0 0 auto;
        display: block;
        position: relative;
        overflow: hidden;
        &:after {
            width: 100%;
            height: 100%;
            content: "";
            background: #000;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(1rem, -1rem) rotate(-15deg);
            // transform-origin: bottom left;
            z-index: -1;
            transition: .2s;  
        }
        &:hover:after {
            background: #f13245;
        }
    }
}

.artist_list {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
}
.artist_img {
    width: 10rem;
    height: 10rem;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}
.artist_title {
    // font-size: 1.5rem;
    max-width: 90%;
    overflow-wrap: break-word;
    // word-break: keep-all;
    span {
        color: #fff;
        display: inline;
        padding: .1em .3em;
        background: #000;
        box-decoration-break: clone;
        line-height: 1.7;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0);
        transition: .1s;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.top {
    // width: 100vw;
}